<html>
    <head>
      {% if title %}
      <title>{{ title }} - Machine Data</title>
      {% else %}
      <title>Machine Data</title>
      {% endif %}
    </head>
    <body>
        <div>Machine Data:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('add_machine') }}">Add Machine</a>
            <a href="{{ url_for('add_kit') }}">Add Kit</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>