{% extends "base.html" %}

{% block content %}
    <h1>Machines</h1>
    <hr>
    {% for machine in machines %}
    <p>
        <b>
        {{ machine.project }} -
        {{ machine.serialnum }} -
        {{ machine.customer }} -
        {{ machine.description }}
        </b>

        {% for kit in machine.kits.all() %}
        <p>
            {{ kit.project }} :
            {{ kit.length }} x
            {{ kit.width }} x
            {{ kit.depth }}
        </p>
        {% endfor %}


<!--    {{ machine.project }} - -->
<!--    {{ machine.serialnum }} - -->
<!--    {{ machine.customer }} - -->
<!--    {{ machine.description }}-->
    </p>
    {% endfor %}
{% endblock %}
